@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="mt-3 p-3 shadow rounded">
            <div class="carousel slide" id="carouselExampleSlidesOnly" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../wwwroot/images/carousel/nsx" class="w-100 d-block" style="height: 350px;"/>
                    </div>
                    <div src="../../wwwroot/images/carousel/r34" class="carousel-item">
                        <img class="w-100 d-block" style="height: 350px;"/>
                    </div>
                    <div src="../../wwwroot/images/carousel/r35" class="carousel-item">
                        <img class="w-100 d-block" style="height: 350px;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
