<div class="side-thing">
    <h1>Rent a Car</h1>
    <div class="have-acc">
        <b>Have an account? <a asp-area="" asp-controller="Login" asp-action="Index">Sign in</a></b>
    </div>
</div>
<div class="login">
    <div class="form">
        <form>
            <h3>
                <span>
                    Create your account.
                </span>
            </h3>
            <div class="main-input">
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <input type="password" placeholder="Confirm password">
                <input type="text" placeholder="First Name">
                <input type="text" placeholder="Last Name">
                <input type="text" placeholder="EGN">
                <input type="text" placeholder="Phone">
                <input type="text" placeholder="Email">
            </div>
            <div class="stuff">
                <div class="checkbox">
                    <input type="checkbox">
                    <label>
                        I accept the <a>Terms of Service</a> and the <a>Privacy Policy</a>
                    </label>
                </div>
            </div>
            <input class="submit" type="submit" value="register">
        </form>
    </div>
</div>


