.login[b-bmolcrjmek] {
    padding: 20px;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
h1[b-bmolcrjmek] {
    background: transparent;
}
form[b-bmolcrjmek], .no-acc[b-bmolcrjmek]{
    width: 500px;
    position: relative;
    padding: 20px;
    background: red;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form h3[b-bmolcrjmek] {
    background: transparent;
    margin-bottom: 30px;
}
form .main-input[b-bmolcrjmek] {
    display: flex;
    flex-direction: column;
    align-content:space-between;
}
form .main-input input[b-bmolcrjmek] {
    padding: 15px;
    width: 400px;
    margin-bottom: 20px;
    background: black;
    color: #fff;
    opacity: 50%;
    border-radius: 5px;
    border: 0;
}
form .stuff[b-bmolcrjmek] {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
form .stuff .forgot[b-bmolcrjmek] {
    float: right;
}
form .stuff .checkbox[b-bmolcrjmek] {
    float: left;
    display: flex;
    justify-content: center;
}
form .login[b-bmolcrjmek] {
    width: 100%;
    background: blue;
    color: #fff;
    padding: 10px;
}
.no-acc[b-bmolcrjmek] {
    margin-top: 20px;
    width: 100%;
}
