@using Microsoft.AspNetCore.Identity
@model Rent_a_car.Models.MakeRentModel
@inject SignInManager<Driver> SignInManager
@inject UserManager<Driver> UserManager

@{
    ViewData["Title"] = "Booking Now";
}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="mt-3 p-3 shadow rounded">
                <div class="text-center border-bottom mb-3 p-3">
                    <h2 class="text-info">Booking Now</h2>
                </div>
                <div>
                    @Html.ValidationSummary()
                </div>
                <div class="p-3">
                    <form action="/Rent/Add" method="post" autocomplete="">
                         <input type="hidden" asp-for="UserId" value="@User.Identity.Name" />
                        <div id="locationDetails">
                            <div class="mb-3 row">
                                <label class="col-3 col-form-label text-info">Start date</label>
                                <div class="col-9">
                                    @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control", type = "datetime-local" })
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-3 col-form-label text-info">End date</label>
                                <div class="col-9">
                                    @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control", type = "datetime-local" })
                                </div>
                            </div>
                            <div id="cardetails">
                                <div class="mb-3 row">
                                    <label class="col-3 col-form-label text-info">Brand</label>
                                    <div class="col-9">
                                        <select id="brandddl" name="Brand" class="form-select">
                                            <option>Select Brand</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-3 col-form-label text-info">Model</label>
                                    <div class="col-9">
                                        <select id="modelddl" name="Model" class="form-select">
                                            <option>Select Model</option>
                                        </select>
                                    </div>
                                </div>
                                @* <div class="mb-3 row">
                                        <label class="col-3 col-form-label text-info">UserName</label>
                                            <div class="col-9">
                                                <select id="driverddl" name="UserName" class="form-select">
                                                    <option>Select Driver</option>
                                                </select>
                                            </div>
                                   </div> *@
                                <div class="mb-3">
                                    <button class="btn btn-sm p-2 btn-dark" type="reset">
                                        Clear
                                    </button>
                                    <button class="btn btn-sm p-2 btn-success" type="submit">
                                        Book Now
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    function getBrand() {
        $.ajax({
            url: '/Rent/GetBrand',
            success: function (data) {
                let options = "";
                for(let item of data) {
                    options += `<option value=${item}>${item}</option>`;
                }
                $('#brandddl').append(options);
            },
            error: function (err) {
                alert(err)
            }
        })
    }

    function getModel(brand) {
        $.ajax({
            url: '/Rent/GetModel?brand=' + brand,
            type:'get',
            success: function (data) {
                let optins = "<option>Select Model</option>";
                for(let item of data) {
                    optins += `<option value=${item}>${item}</option>`;
                }
                $('#modelddl').empty();
                $('#modelddl').append(optins);
            },
            error: function (err) {
                alert(err)
            }
        })
    }
    function getDriver() {
        $.ajax({
            url: '/Rent/GetDriver',
            type: 'get',
            success: function (data) {
                console.log(data); // Check what data is returned
                let options = "";
                for (let item of data) {
                    console.log(item); // Check the structure of each item
                    options += `<option value=${item.userName}>${item.userName}</option>`;
                }
                $('#driverddl').append(options);
            },
            error: function (err) {
                alert(err);
            }
        });
    }
    $(document).ready(function () {
        getBrand();
        getDriver();
        $('#brandddl').change(function (e) {
            getModel(e.target.value);
        })
    })
    

</script>

