<div class="login">
    <h1>Rent a Car</h1>
    <form action="">
        <h3>
            Sign in to your account
        </h3>
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <input type="checkbox">
        <a href="#">Forgot your password?</a>
        <input type="submit" value="CONTINUE">
    </form>
    <div class="no-acc">
        <b>Don’t have an account?</b>
        <button>join now</button>
    </div>

</div>
