<div class="login">
    <h1>Rent a Car</h1>
    <form action="">
        <h3>
            Sign in to your account
        </h3>
        <div class="main-input">
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
        </div>
        <div class="checkbox">
            <input class="stuff" type="checkbox"><label>Remember me</label>
        </div>
        <a class="stuff" href="#">Forgot your password?</a>
        <input type="submit" value="continue">
    </form>
    <div class="no-acc">
        <b>Don’t have an account?</b>
        <button>join now</button>
    </div>

</div>
